.label {
    background-color:#F4A460;
    border-radius: 4px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    margin-right:10px;
}
.label_color_0{
    background-color:#BBBBBB;
}
.label_color_1{
    background-color:#F06050;
}
.label_color_2{
    background-color:#F4A460;
}
.label_color_3{
    background-color:#F7CD1F;
}
.label_color_4{
    background-color:#6CC1ED;
}
.label_color_5{
    background-color:#814968;
}
.label_color_6{
    background-color:#EB7E7F;
}
.label_color_7{
    background-color:#2C8397;
}
.label_color_8{
    background-color:#475577;
}
.label_color_9{
    background-color:#D6145F;
}
.label_color_10{
    background-color:#30C381;
}
.label_color_11{
    background-color:#9365B8;
}
