.label {
    background-color:#F4A460;
    border-radius: 4px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    margin-right:10px;
    font-weight: 600;
}
.label_color_0{
    background-color:#BBBBBB9A;
}
.label_color_1{
    background-color:#F060509A;
}
.label_color_2{
    background-color:#F4A4609A;
}
.label_color_3{
    background-color:#F7CD1F9A;
}
.label_color_4{
    background-color:#6CC1ED9A;
}
.label_color_5{
    background-color:#8149689A;
}
.label_color_6{
    background-color:#EB7E7F9A;
}
.label_color_7{
    background-color:#2C83979A;
}
.label_color_8{
    background-color:#4755779A;
}
.label_color_9{
    background-color:#D6145F9A;
}
.label_color_10{
    background-color:#30C3819A;
}
.label_color_11{
    background-color:#9365B89A;
}
