.js_order_app_product {
     > .row {
        border: $border-width solid $border-color;
        &:not(:last-child) {
            border-bottom: 0;
        }

        &:last-child {
            border-bottom: $border-width solid $border-color;
        }
    }

    .js_order_app_product_header {
        cursor: pointer;
        input {
            cursor: pointer;
        }
    }
}
